<div class="auxiliar_component center-block">
    @RenderPage("EdicionHistorialClinicoVistaComun.cshtml")
    <button form="datosCita" type="submit" class="btn btn-success center-block">Listo!</button>
</div>
