<div class="auxiliar_component center-block" >
    @RenderPage("EdicionHistorialClinicoVistaComun.cshtml")
    <button ng-click="datosCita.$valid && insertarHistorial()" form="insertarhc" type="submit" class="btn btn-success center-block">Listo!</button>
</div>
