<div ng-controller="AdministradorController">
    <div class="auxiliar_component center-block">
        <form class="form-group center-block form-inline">
            <input ng-model="EspecialidadInsertar" max="20" autofocus required type="text" class="form-control" placeholder="inserte el nombre de la especialidad" />
            <button ng-click="insertarEspecialidad()" class="btn btn-success" href="" type="submit">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <p class="login_message">{{errorEspecialidad}}</p>

            <table class="table table-responsive">
                <thead>
                    <!-- Este es el encabezado de la tabla, segun los valores que se desean obtener -->
                    <tr class="info">
                        <th>Especialidad</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Es la lista de pedidos ordenada por hora-->
                    <tr ng-repeat="especialidad in especialidades">
                        <td>{{especialidad.Nombre}}</td>

                    </tr>
                </tbody>
            </table>


        </form>


    </div>
</div>