<div class="auxiliar_component center-block">
    <form class="form-group center-block">
        <div class="form-inline">
            <label for="fecha_citas">Fecha de Citas:</label>
            <input type="date" class="form-control" id="fecha_citas">
            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span> Buscar Citas</button>
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Hoy</button>
        </div>
        <div class="list-group">
            <a  class="list-group-item">
                aaaa
            </a>
        </div>

    </form>
</div>