<div class="auxiliar_component center-block">
    <h2>Citas</h2>
</div>
<ul class="nav nav-tabs">

    <li role="presentation" class="active"><a href="#agregar_cita" data-toggle="tab">Agregar Cita</a></li>
    <li role="presentation"><a href="#editar_eliminar_cita" data-toggle="tab">Editar/Eliminar Cita</a></li>
</ul>

<div class="tab-content">


    <div id="agregar_cita" class="auxiliar_component center-block tab-pane active">
        <form class="form-group center-block">

            <!-- Doctor a seleccion -->
            <label for="doctorSeleccionAgregar">Doctor:</label>
            <select id="doctorSeleccionAgregar" required class="form-control">
                <option>A</option>
            </select>

            <!--Dia de la cita-->
            <label for="fecha_cita">Fecha de cita:</label>
            <input required type="date" pattern="([0-2]?[0-9]|3[0-1])-([0-9]|1[0-2])-[0-9]{4}" oninvalid="validarFecha(this);" class="form-control" id="fecha_cita" placeholder="Instroduzca la fecha de la cita" ng-model="usuario_Fecha_nacimiento">


            <!-- Lista de citas -->
            <label for="citas_disponibles">Citas disponibles:</label>
            <select required id="citas_disponibles" class="form-control">
                <option>A</option>
            </select>


            <!-- ve datos de cita -->
            <h3>Datos de la cita:</h3>
            <p></p>
            <h4>Doctor encargado</h4>
            <p></p>
            <h4>Hora de la cita:</h4>
            <p></p>
            <!-- Boton agregar-->
            <input class="login_component btn btn-success" type="submit" value="Agregar cita" />


        </form>

    </div>


    <!--select citas-->
    <div id="editar_eliminar_cita" class="auxiliar_component center-block tab-pane">
        <form class="form-group center-block">
            <!-- Lista de citas -->
            <label for="mis_citas">Mis citas:</label>
            <select required id="mis_citas" class="form-control">
                <option>A</option>
            </select>

            <h3>Doctor encargado:</h3>

            <!-- ver datos de cita -->
            <h3>Datos de la cita:</h3>
            <p></p>

            <label for="fecha_cita">Fecha de Cita:</label>
            <input required type="date" pattern="([0-2]?[0-9]|3[0-1])-([0-9]|1[0-2])-[0-9]{4}" oninvalid="validarFecha(this);" class="form-control" id="fecha_cita" placeholder="dd/mm/aaaa" ng-model="usuario_Fecha_nacimiento">

            <label for="hora_cita">Hora de Cita:</label>
            <select id="hora_cita" required class="form-control">
                <option>Primera cita</option>
            </select>
            <p></p>

            <!-- cambiar hora-->
            <input class="login_component btn btn-warning" type="submit" value="actualizar" />
            <!-- eliminar-->
            <input class="login_component btn btn-danger" type="submit" value="borrar" />
        </form>

    </div>

</div>
