
<form role="form" id="datosPaciente" class="form-group center-block">
    <h2>Datos personales</h2>
    <label for="nombre">Nombre:</label>
    <input maxlength="20" readonly="readonly" class="form-control" id="nombre" ng-model="usuario_Nombre">

    <label for="primer_apellido">Primer Apellido:</label>
    <input maxlength="20" readonly="readonly" class="form-control" id="primer_apellido" ng-model="usuario_Primer_apellido">

    <label for="segundo_apellido">Segundo Apellido:</label>
    <input maxlength="20" readonly="readonly" class="form-control" id="segundo_apellido" ng-model="usuario_Segundo_apellido">

    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
    <input type="date" readonly="readonly" class="form-control" id="fecha_nacimiento" ng-model="usuario_Fecha_nacimiento">

    <label for="telefono">N&uacute;mero telefonico:</label>
    <input pattern="[1-9][0-9]*" readonly="readonly" class="form-control" id="telefono" ng-model="usuario_Telefono">

    <label for="residencia">Residencia:</label>
    <input maxlength="100" readonly="readonly" class="form-control" id="recidencia" ng-model="usuario_Residencia">
</form>