<form id="insertarhc" name="datosCita" class="form-group center-block">
    <label for="detallesCita">Detalles de la cita:</label>
    <textarea ng-model="consulta" ng-required="true" maxlength="100" class="form-control" placeholder="Instroduzca los detalles de la cita" id="detallesCita"></textarea>
    <label for="resultadosEstudios">Resultados de estudios:</label>
    <textarea ng-model="estudios" ng-required="true" maxlength="100" class="form-control" placeholder="Instroduzca los resultados de estudios" id="resultadosEstudios"></textarea>
    <p class="login_message">{{ErrorHistorial}}</p>    
</form>
<!--
<form class="form-group center-block">
    <select required id="seleccionProducto">
        <option>Primer producto</option>
    </select>
    <button class="btn btn-success" formtarget="seleccionProducto" type="submit"><span class="glyphicon glyphicon-plus"></span></button>
    <div class="form-group center-block">
        <h3>Lista de medicamentos</h3>
        <ul class="list-group">
            <li class="list-group-item vertical_al clearfix">
                <h5>Este es un span</h5>
                <a class="btn btn-danger pull-right" href=""><span class="glyphicon glyphicon-remove"></span></a>
            </li>
        </ul>
    </div>
</form>
    -->