<div class="auxiliar_component center-block">
    <form role="form" class="form-group center-block">
        <h2>Datos Personales</h2>
        <label for="cedula">C&eacute;dula:</label>
        <input id="cedula" required max="9" oninvalid="validarCedula(this);" type="text" pattern="[1-8][0-9]{6,8}" class="form-control" placeholder="Cedula del paciente" style="width:180px;display:inline-block;" />
        
        <label for="nombre">Nombre:</label>
        <input required maxlength="20" class="form-control" placeholder="Instroduzca el nombre" id="nombre" ng-model="usuario_Nombre">
        
        <label for="primer_apellido">Primer Apellido:</label>
        <input required maxlength="20" class="form-control" id="primer_apellido" placeholder="Instroduzca el primer apellido" ng-model="usuario_Primer_apellido">
        
        <label for="segundo_apellido">Segundo Apellido:</label>
        <input required maxlength="20" class="form-control" id="segundo_apellido" placeholder="Instroduzca el segundo apellido" ng-model="usuario_Segundo_apellido">
        
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input required type="date" pattern="([0-2]?[0-9]|3[0-1])-([0-9]|1[0-2])-[0-9]{4}" oninvalid="validarFecha(this);" class="form-control" id="fecha_nacimiento" placeholder="Instroduzca la fecha de nacimiento" ng-model="usuario_Fecha_nacimiento">
        
        <label for="telefono">N&uacute;mero telefonico:</label>
        <input required pattern="[1-9][0-9]*" class="form-control" id="telefono" placeholder="Instroduzca el número de " ng-model="usuario_Telefono">
        
        <label for="residencia">Residencia:</label>
        <input required maxlength="100" class="form-control" id="recidencia" placeholder="Instroduzca la dirección exacta de su vivienda" ng-model="usuario_Residencia">
        
        <h2>Datos de usuario</h2>
        
        <label for="email">Correo Electronico:</label>
        <input required maxlength="50" type="email" class="form-control" id="email" placeholder="Instroduzca el correo electrónico" ng-model="usuario_Email">
        
        <label for="alias">Nombre de usuario:</label>
        <input required maxlength="20" class="form-control" id="alias" placeholder="Instroduzca el nombre de usuario" ng-model="usuario_Alias">
        
        <label for="contrasenia">Contrase&ntilde;a:</label>
        <input required maxlength="20" type="password" class="form-control" id="contrasenia" placeholder="Instroduzca la contraseña de usuario" ng-model="usuario_Contrasenia">
        
        <label for="contraseniaC">Confirme la contrase&ntilde;a:</label>
        <input required min="4" maxlength="20" type="password" class="form-control" id="contraseniaC" placeholder="Confirme la contraseña de usuario" ng-model="usuario_Contrasenia_verificacion">
        
        <a class="login_message">{{advertenciaUsuarioRegistrado}}</a>

        <button ng-click="registrarUsuario()" type="submit" class="btn btn-success center-block">Registrar</button>
    </form>
</div>