
@{
    ViewBag.Title = "Inicio | Administrador";
}

<h2 class="text-center">Menu principal</h2>
<div class="button-list center-block">
    <div class="btn-group-vertical center-block">
        <a class="btn btn-primary" href="/Administrador/AgregarEspecialidad">Agregar especilidad</a>
        <a class="btn btn-primary" href="/Administrador/AgregarDoctor">Aceptar doctores en el sistema</a>
        <a class="btn btn-primary" href="/Administrador/AgregarPaciente">Agregar paciente</a>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a class="btn btn-danger center-block login_component" href=""><span class="glyphicon glyphicon-remove"></span> Salir</a>
