
@{
    ViewBag.Title = "Agregar historial clinico";
}

<h2 class="text-center">Agregar historial clinico</h2>

@RenderPage("~/Views/WebUtils/CalendarioDoctor.cshtml")
@RenderPage("~/Views/WebUtils/AgregarHistorialClinico.cshtml")
