
@{
    ViewBag.Title = "Agregar paciente";
}
<a href="/Doctor" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"></span> Volver atras</a>
<h2 class="text-center">Agregar paciente</h2>

@RenderPage("~/Views/WebUtils/AgregarPaciente.cshtml")