
@{
    ViewBag.Title = "Editar historial clinico";
}
<a href="/Doctor" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"></span> Volver atras</a>
<h2 class="text-center">Editar historial clinico</h2>

@RenderPage("~/Views/WebUtils/EditarHistorialClinico.cshtml")