
@{
    ViewBag.Title = "Inicio | Doctor";
}

<h2 class="text-center">Menu principal</h2>
<div class="button-list center-block">
    <div class="btn-group-vertical center-block">
        <a class="btn btn-primary" href="/Doctor/AgregarPaciente">Agregar Paciente</a>
        <a class="btn btn-primary" href="/Doctor/VerCalendario">Ver calendario</a>
        <a class="btn btn-primary" href="/Doctor/AgregarHistorialClinico">Atender citas</a>
        <a class="btn btn-primary" href="/Doctor/EditarHistorialClinico">Editar un historial clinico</a>
    </div>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@RenderPage("~/Views/WebUtils/Logout.cshtml")