
@{
    ViewBag.Title = "Datos Personales";
}


<div class="center-block auxiliar_component">
    @RenderPage("~/Views/WebUtils/DatosPaciente.cshtml")
</div>



@RenderPage("~/Views/WebUtils/CrearDoctor.cshtml")

