
@{
    ViewBag.Title = "Datos Personales";
}

<a href="/Paciente" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"></span> Volver atras</a>
<div class="center-block auxiliar_component">
    @RenderPage("~/Views/WebUtils/DatosPaciente.cshtml")
</div>



@RenderPage("~/Views/WebUtils/CrearDoctor.cshtml")

