
@{
    ViewBag.Title = "Inicio | Paciente";
}

<h2 class="text-center">Menu principal</h2>
<div class="button-list center-block">
    <div class="btn-group-vertical center-block">
        <a class="btn btn-primary" href="/Paciente/ReservarCita">Reservar/Editar Cita</a>
        <a class="btn btn-primary" href="/Paciente/VerHistorialClinico">Ver mi historial clinico</a>
        <a class="btn btn-primary" href="/Paciente/DatosPersonales">Ver mis datos</a>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a class="btn btn-danger center-block login_component" href=""><span class="glyphicon glyphicon-remove"></span> Salir</a>
