
@{
    ViewBag.Title = "Reservar/Editar cita";
}
<a href="/Paciente" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"></span> Volver atras</a>
<h2>Reservar/Editar cita</h2>
@RenderPage("~/Views/WebUtils/CitasPaciente.cshtml")

