
@{
    ViewBag.Title = "Ver mi historial clinico";
}
<a href="/Paciente" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"></span> Volver atras</a>
<h2>Ver mi historial clinico</h2>

@RenderPage("~/Views/WebUtils/HistorialClinico.cshtml")


