<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#buscarPaciente"  data-toggle="tab">Paciente existente</a></li>
    <li role="presentation"><a href="#agregarPaciente" data-toggle="tab" >Registrar paciente</a></li>
</ul>


<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="buscarPaciente">
        <h1 class="text-center" >Buscar Paciente</h1>
        <div class="center-block auxiliar_component">
            <form class="form-group form-inline">
                <input max="9" autofocus required oninvalid="validarCedula(this);" type="text" pattern="[1-8][0-9]{6,8}" class="form-control" placeholder="Cedula del paciente" style="width:180px;display:inline-block;" />
                <button id="consultaPorCedula" class="btn btn-success" href="" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
            @RenderPage("~/WebUtils/DatosPaciente.cshtml")
        </div>
    </div>
    <div class="tab-pane" id="agregarPaciente">
        <h1 class="text-center">Agregar Paciente</h1>
        @RenderPage("~/WebUtils/Registro.cshtml")
    </div>
</div>

